body{
    background-color: rgba(162, 214, 127, 0.247);
    background-image: url('');
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    text-decoration:underline;
font-size:x-large; /*Tamany lletra*/
font-family: "Covered By Your Grace", cursive; /*tipus de lletra*/

}
#Q1{


  display: inline-block;
width:30%;

}
h2{
   
    .chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

    background-color: rgb(122, 230, 245);
}
#Dades{
    
 
    background-color: rgba(189, 193, 255, 0.486);
    width:69%;
    display: inline-block;

}
.QQQ{
    background-color: rgb(255, 255, 255) ;
display: inline-block;
width:32%

}
#QQQQ{
    
    background-color: rgb(255, 255, 255);
    
display: inline-block;
width:32%
}
.Q{
    background-color: rgb(255, 255, 255);
    
display: inline-block;
width:32%
}
body{


    

}


nav{
    display: inline-block;
}