body{
    background-color: rgba(162, 214, 127, 0.247);
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.justdial.com%2Fjdmart%2FVisakhapatnam%2FFloral-Multi-Coloured-Abstract-Wallpapers%2Fpid-2219697476%2F0891PX891-X891-220518130320-N7U8&psig=AOvVaw2rgVr7kHlV4pDYS_zJ6WKC&ust=1758954265208000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCNDemq3m9Y8DFQAAAAAdAAAAABAE');
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    text-decoration:underline;
font-size:x-large; /*Tamany lletra*/
font-family: "Covered By Your Grace", cursive; /*tipus de lletra*/

}
#Q1{


  display: inline-block;
width:30%;

}
h2{
   
    .chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

    background-color: rgb(122, 230, 245);
}
#Dades{
    
 
    background-color: rgba(189, 193, 255, 0.486);
    width:69%;
    display: inline-block;

}
.QQQ{
    background-color: rgb(255, 255, 255) ;
display: inline-block;
width:32%

}
#QQQQ{
    
    background-color: rgb(255, 255, 255);
    
display: inline-block;
width:32%
}
.Q{
    background-color: rgb(255, 255, 255);
    
display: inline-block;
width:32%
}
body{


    

}


nav{
    display: inline-block;
}